<!DOCTYPE html>
<html lang="en">

<head>

  <!--info-->
  <meta charset="UTF-8">
  <title>Bubble Sort</title>

  <!--icons-->
  <link rel="icon" type="image/png" href="img/favicon.png">

  <!--Display-->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--Style-->
  <link type="text/css" rel="stylesheet" media="screen" href="bower_components/materialize/dist/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" media="screen" href="style.css">

  <!--Scripts-->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
  <script src="rainbowvis.js"></script>
  <script src="main.js"></script>

</head>

<body ng-controller="mainCtrl" ng-app="app">

  <div class="logo">
    <img src="img/logo.png" />
  </div>

  <div class="quantity">
    <div class="input-field">
      <i class="material-icons prefix">create</i>
      <label for="quantity">Quantity (between 1 and {{ number_max }})</label>
      <input id="quantity" type="number" class="validate" ng-model="quantity" />
      <button ng-click="generate()" class="waves-effect waves-light btn">Generate <i class="material-icons right">send</i></button>
    </div>
  </div>

  <div class="buttons">
    <button ng-click="sort()" class="waves-effect waves-light btn">Bubble Sort</button>
    <button ng-click="optimizedSorting()" class="waves-effect waves-light btn">Optimized Bubble Sort</button>
    <button ng-click="fusionSorting()" class="waves-effect waves-light btn">Fusion Sort</button>
  </div>

  <div class="container z-depth-1" >
    <div class="items">
    </div>
  </div>

</body>
</html>
