@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  background: white;
  font-family: 'Open Sans', sans-serif;
}

.container,
body,
html {
  height: 100%;
}

.logo{
  height: 65px;
}

.logo img{
  width: 70px;
  height: auto;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .logo{
    height: 70px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.container {
  min-width: 73% !important;
  height: auto;
  margin: 0 auto;
  background: whitesmoke;
  padding: 25px;
  margin-top: 20px;
  border-radius: 6px;
}

#toast-container{
  min-width: 8%;
  top: 3%;
  right: 1%;
  left: 7%;
}

.items {
  animation: animateItem 0.5s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.items .item {
  border-radius: 70%;
  color: black;
  text-align: center;
  min-width: 70px;
  line-height: 70px;
  margin: 10px;
  font-weight: bold;
}

.items .item:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

body > div.quantity{
  text-align: center;
}

.input-field label{
  left: auto;
}

#quantity{
  width: 30%;
}

.quantity > div > button{
  margin-left: 20px;
}

.buttons{
  text-align: center;
  margin-top: 20px;
}

.buttons button{
  margin: 5px;
}

.sort-move-current {
  color: #FFF !important;
}

.sort-move-next {
  /*color: #0F0 !important;
  font-size: 1.5em;*/
}
